@import '~bootstrap/dist/css/bootstrap.min.css';
@font-face {
    font-family: "Open Sans Bold";
    src: url("https://fonts.google.com/specimen/Open+Sans?selection.family=Open+Sans");
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Open Sans Bold", Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}