<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.google.com/specimen/Open+Sans?selection.family=Open+Sans">
    <title>Alelo Frota</title>
</head>
<html>

<body>
    <aside class="navegacao-site">
        <div class="menu">
            <img src="../../assets/img/alelo-logo.png">
            <h1 class="titulo">Alelo Frota</h1>
            <ul>
                <a routerLink="/dashboard">
                    <li><img class="icon" src="../../assets/icon/border-all-solid.svg" />DashBoard</li>
                </a>
                <a routerLink="/vehicle">
                    <li><img class="icon" src="../../assets/icon/car-side-solid.svg" />Vehicle</li>
                </a>
                <a routerLink="/reports">
                    <li><img class="icon" src="../../assets/icon/chart-bar-solid.svg" />Reports</li>
                </a>

            </ul>
        </div>
    </aside>
    <div class="pages">
        <router-outlet></router-outlet>
    </div>
</body>

</html>