<div class="texto-principal">
    <h1>Vehicle Management</h1>
    <p>A Alelo é uma empresa de serviços financeiros, especializada em benefícios, incentivos e gestão de despesas corporativas, que tem como objetivo facilitar o dia a dia das pequenas, médias e grandes empresas, bem como de estabelecimentos comerciais
        parceiros da sua rede de aceitação.</p>
</div>

<div class="row search-bar">
    <div class="col-6">
        <form>
            <div class="row">
                <div class="col-10">
                    <input class="form-control" type="search" placeholder="plate search">
                </div>
                <div class="col-2">
                    <button mat-raised-button>
                        <span class="material-icons mr-2 pb-1">
                            search
                        </span>Search</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-6">
        <button class="btn-add" mat-raised-button color="primary" (click)="openDialog()"><span class="material-icons mr-2 pb-1">
            add
        </span>Add Vehicle</button>
    </div>
</div>

<table mat-table [dataSource]="todoDatasource" class="mat-elevation-z8">

    <ng-container matColumnDef="Id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="Plate">
        <th mat-header-cell *matHeaderCellDef> Plate </th>
        <td mat-cell *matCellDef="let element"> {{element.plate}} </td>
    </ng-container>

    <ng-container matColumnDef="Model">
        <th mat-header-cell *matHeaderCellDef> Model </th>
        <td mat-cell *matCellDef="let element"> {{element.model}} </td>
    </ng-container>

    <ng-container matColumnDef="Manufacturer">
        <th mat-header-cell *matHeaderCellDef> Manufacturer </th>
        <td mat-cell *matCellDef="let element"> {{element.manufacturer}} </td>
    </ng-container>

    <ng-container matColumnDef="Color">
        <th mat-header-cell *matHeaderCellDef> Color </th>
        <td mat-cell *matCellDef="let element"> {{element.color}} </td>
    </ng-container>

    <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef> status </th>
        <td mat-cell *matCellDef="let element">{{element.status ? 'Active' : 'Inactive'}}</td>
    </ng-container>

    <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">
            <button mat-raised-button color="accent" (click)="edit(element)">
                <span class="material-icons mr-2 pb-1">
                edit
                </span>Editar</button>
            <button class="espaco-entre" mat-raised-button color="warn" (click)="del(element)">
                    <span class="material-icons mr-2 pb-1">
                    delete
                    </span>Apagar</button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[10, 25, 100]" [pageSize]="10"></mat-paginator>