.texto-principal {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    line-height: 1.3em;
    text-align: justify;
    color: #888888;
}

h1 {
    margin-top: 25px;
    font-family: "Open Sans Bold";
    font-weight: bold;
}

.fonte {
    font-family: 'Open Sans Regular';
    color: #888888;
    font-weight: bold;
}

table {
    width: 98%;
    margin: 1%;
}

.border-red {
    border: 1px solid red;
}

.font-red {
    color: red;
}

.fundo-lightcoral {
    background-color: lightcoral;
}

.search-bar {
    padding-left: 10px;
}

.btn-add {
    margin-left: 50px;
}

.btn-espaco-between {
    margin-left: 1%;
}