table {
    width: 98%;
    margin: 1%;
}

.border-red {
    border: 1px solid red;
}

.font-red {
    color: red;
}

.fundo-lightcoral {
    background-color: lightcoral;
}

.search-bar {
    padding: 20px;
}

.btn-add {
    margin-left: 35%;
}

.texto-principal {
    padding: 20px;
    text-align: justify;
}

.espaco-entre {
    margin-left: 1%;
}

.fonte {
    font-family: 'Open Sans Regular';
    color: #888888;
    font-weight: bold;
}

h1 {
    text-align: center;
    font-family: "Open Sans Bold";
    color: #888888;
    font-weight: bold;
}