<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.google.com/specimen/Open+Sans?selection.family=Open+Sans">
    <title>Alelo Frota</title>
</head>

<body>
    <aside class="navegacao-site">
        <div class="menu">
            <img src="../../assets/img/alelo-logo.png">
            <h1 class="titulo">Alelo Frota</h1>
            <ul>
                <li><img class="icon" src="../../assets/icon/border-all-solid.svg" /><a href="#">DashBoard</a></li>
                <li><img class="icon" src="../../assets/icon/car-side-solid.svg" /><a href="#">Vehicle</a></li>
                <li><img class="icon" src="../../assets/icon/chart-bar-solid.svg" /><a href="#">Reports</a></li>
                <i class="bi bi-alarm"></i>
            </ul>
        </div>
    </aside>
    <div class="pages">

    </div>
</body>

</html>